@model Lesson




<!-- Custom Video File -->
<div class="container my-4">
	<h3>@Model.Title</h3>
		<p>@Model.Description</p>
	<div class="ratio ratio-16x9 " style="margin-bottom:4em" >
		<video controls>
			<source src="~/videos/@Model.LessonVideo.VideoUrl" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
</div>